@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}


.header.hide {
  visibility: hidden;
  transition: all ease .3s;
  transform: translateY(-100%); 
}

.header.transparent img {
  display: none;
}

.header.show {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  visibility: inherit;
  transition: all ease .3s;
  transform: translateY(0); 
}
.slick-slide{
  height: 260px;
  border: 1px red;
}
/* .page-header::before {
  content: '';
  top: -100px;
  left: 0;
  width: 350px;
  height: 10px;
  display: inline-block;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/laptop.png");
} */
/* .page-header::after {
  content: '';
  top: -50px;
  right: 0;
  width: 200px;
  height: 10px;
  display: inline-block;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/mobile.png");
}*/
.page-header {
  background-image: url("../../public/erp.jpg");
  max-width: auto;
  min-height: auto;
  padding: 30px 15px 30px 15px;
  margin-top: 70px;
} 

.custom-img {
  background-image: url(/bg-img.jpg);
}